<div class="sidebar">
  <i class="facebook 2.0"></i>
  <a (click)="routeAccueil()">
  <div class="sidebarOption active">
    <img src="https://cdn-icons-png.flaticon.com/128/3293/3293413.png" alt="Home Icon" class="icon">
    <h2>Accueil</h2>
  </div>
  </a>

  <a >
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/9968/9968777.png" alt="search" class="icon">
      <h2>Rechercher</h2>
    </div>
  </a>

  <a >
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/3541/3541850.png" alt="notification" class="icon">
      <h2>Notification</h2>
    </div>
  </a>

  <a >
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/14036/14036008.png" alt="Message" class="icon">
      <h2>Message</h2>
    </div>
  </a>

  <a  (click)="routeProfil()">
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/14035/14035954.png" alt="profil" class="icon">
      <h2>Profile</h2>
    </div>
  </a>

  <a >
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/11601/11601236.png" alt="plus" class="icon">
      <h2>Plus</h2>
    </div>
  </a>
</div>
<app-dernier-mise-ajour></app-dernier-mise-ajour>
