<div class="header">
  <div class="header__left">
    <a (click)="routeAccueil()">
    <img src="https://cdn-icons-png.flaticon.com/128/5778/5778499.png" alt="logo"/>
    </a>
    <div class="header__input">
      <img src="https://cdn-icons-png.flaticon.com/128/14090/14090493.png" alt="recherche" class="icon">
      <input type="text" placeholder="recherche" />
    </div>
  </div>

  <div class="header__middle">
    <div class="header__option">
    <a (click)="routeAccueil()">
          <img src="https://cdn-icons-png.flaticon.com/128/3293/3293413.png" alt="Home Icon" class="icon">
    </a>
    </div>
    <div class="header__option">
      <img src="https://cdn-icons-png.flaticon.com/128/11367/11367781.png" alt="flag" class="icon">
    </div>
    <div class="header__option">
      <img src="https://cdn-icons-png.flaticon.com/128/5705/5705619.png" alt="subscription" class="icon">
    </div>
    <div class="header__option">
      <img src="https://cdn-icons-png.flaticon.com/128/10694/10694344.png" alt="store" class="icon">
    </div>
  </div>


  <a  (click)="routeProfil()" >
    <div class="header__right">
      <img src="https://cdn-icons-png.flaticon.com/128/668/668709.png" alt="Log_out" class="icon">
    </div>
  </a>

  <a href="" (click)="logOut()">
  <div class="header__right">
    <img src="https://cdn-icons-png.flaticon.com/128/14441/14441860.png" alt="Log_out" class="icon">
  </div>
  </a>
</div>
