<!-- profile.component.html -->
<div class="profile-component">
  <div class="profile-header">
    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="Photo de profil" class="icon">
    <h2>Mon Profil</h2>
  </div>
  <div class="Notifications">
    {{ 'Notifications: ' + 43 }}
  </div>

  <div class="publications">
    {{ 'Publications: ' + 10 }}
  </div>

  <div class="Commentaires">
    {{ 'Commentaires: ' + 17 }}
  </div>

  <hr>
  <div class="contact-list">
    <h3>Liste de contacts</h3>
    <ul>
      <li><img src="https://cdn-icons-png.flaticon.com/128/201/201634.png" alt="Photo de profil contact 1" class="icon"> Contact 1</li>
      <li><img src="https://cdn-icons-png.flaticon.com/128/219/219970.png" alt="Photo de profil contact 2" class="icon"> Contact 2</li>
    </ul>
  </div>
</div>

<app-nombre-pc></app-nombre-pc>
