<div class="sidebar">
  <i class="facebook 2.0"></i>
  <a href="">
  <div class="sidebarOption active">
    <img src="https://cdn-icons-png.flaticon.com/128/1946/1946433.png" alt="Home Icon" class="icon">
    <h2>Accueil</h2>
  </div>
  </a>

  <a href="">
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/13884/13884652.png" alt="search" class="icon">
      <h2>Rechercher</h2>
    </div>
  </a>

  <a href="">
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/12632/12632871.png" alt="notification" class="icon">
      <h2>Notification</h2>
    </div>
  </a>

  <a href="">
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/2190/2190552.png" alt="Message" class="icon">
      <h2>Message</h2>
    </div>
  </a>

  <a href="">
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/3237/3237472.png" alt="profil" class="icon">
      <h2>Profile</h2>
    </div>
  </a>

  <a href="">
    <div class="sidebarOption active">
      <img src="https://cdn-icons-png.flaticon.com/128/1828/1828817.png" alt="plus" class="icon">
      <h2>Plus</h2>
    </div>
  </a>
</div>
